<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>To - do List App</title>
</head>
<body>
    <div class="container">
    <h1>Add Items</h1>
<form action="/delete" method="post">
<div class="item list-container">
    <%collection.forEach(item => {%>
        <div>
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
        <p><%=item.name%></p>
        </div>
    <%});%>
</div>
</form>
 
<form action="/" method="post">
    <div class="input-btn">
    <input type="text" name="listItem">
    <button class="btn" type="submit">+</button>
</div>
</form>
</div>
</body>
</html>