@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, rgba(25, 5, 255, 0.78) 17.19%, rgba(255, 0, 122, 0.68) 99.99%, rgba(255, 255, 255, 0.00) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 300px;
    height: 600px;
   border-radius: 16px;
   background: linear-gradient(135deg, rgba(204, 55, 55, 0.50) 32.56%, rgba(0, 10, 255, 0.51) 80.39%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    
 
}
.list-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start; 
    width: 300px;
    height: 400px;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-left: 50px;
}
.item div{
    display: flex;
    align-items:center;

}

.btn{
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-image: url(./images/Greentick.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* input {
    
    border-width: 1px;  
    border-radius: 2px;
    background-color: transparent;
    width: 72%;
    height: 23px;
    fill: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: #000;
    filter: drop-shadow(4px 4px 34px rgba(0, 0, 0, 0.25));
  }
  */

h1 {
    text-align: center;
    margin-top:25px ;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #FFF;
    text-shadow: 4px 4px 4px black;
    font-family: Barlow;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.07px;
    
  }
  
p{
    margin: 10px;
    font-size: 1.5rem;
    color: #FFF;
    text-shadow: 4px 4px 4px black;
    font-family: Barlow;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 4.07px;
}
 